@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Bold.woff2") format("woff2"), url("fonts/Avenir-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Regular.woff2") format("woff2"), url("fonts/Avenir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Light.woff2") format("woff2"), url("fonts/Avenir-Light.woff") format("woff");
  font-weight: normal;
  font-style: lighter;
}

@font-face {
  font-family: "Quattrocento";
  src: url("fonts/Quattrocento-Bold.woff2") format("woff2"), url("fonts/Quattrocento-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento";
  src: url("fonts/Quattrocento-Regular.woff2") format("woff2"), url("fonts/Quattrocento-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* menu burger  */

nav {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100vw;
  transition: top  1s;
  top: -120%;
  opacity: 0.7;
}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  right: 0;
  top: 0; 
  z-index: 1;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 30px;
  height: 2px;
  background: black;
  box-shadow: 0px 0px 5px white;
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.3s;
}

.open-icon::before {
  transform: translateY(-6.5px);
}

.open-icon::after {
  transform: translateY(4px);
}

nav.is-open .open-icon {
  background-color: transparent;
  box-shadow: none;
}

nav.is-open .open-icon::before {
  transform: translateY(0px) rotate(45deg);
  margin-bottom: 2px;
  background: white;
  box-shadow: none;
}

nav.is-open .open-icon::after {
  transform: translateY(-3.7px) rotate(-45deg);
  background: white;
  box-shadow: none;
}

ul {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: transform 0.5s, opacity 0.3s;
}

nav.is-open ul {
  transform: none;
  opacity: 1;
}

nav:not(.is-open) ul {
  pointer-events: none;
}

a {
  text-decoration: none;
}

li {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Quattrocento', serif;
  color: white;
  margin: 15px;
}

li:not(:last-child) {
  margin-bottom: 40px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  box-shadow: 0px 0.2px 25px silver;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.other_nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 30px 10px;
}

.logo {
  height: 45px;
  width: auto;
}

.box {
  height: 100vh;
  width: 100wh;
}

.polaire, .sac, .gourde {
  height: 55px;
  width: auto;
}

.tente {
  height: 73px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
  font-family: "Quattrocento";
  font-weight: bold;
}

.back-product, .back-description {
  display: flex;
  justify-content: center;
}

.product {
  height: 240px;
  width: auto;
  margin-bottom: 50px;
}

.description {
  font-size: 15px;
  margin: 0px 15px 50px 15px;
  text-align: justify;
  font-family: "Avenir";
  font-style: normal;
  line-height: 19px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Quattrocento";
  font-weight: normal;
}

@media (max-width: 699px) {
  .hidden--xs{
    display: none;
  }
}

@media (min-width: 700px) {

  .other_nav {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
  }
  
  .polaire, .sac, .gourde {
    height: 100%;
    width: auto;
  }
  
  .tente {
  height: 110%;
  }

  div a {
    width:120px;
    height: 120px;
  }

  .back-product {
    width: 100%;
    /*display: flex;*/
    /*justify-content: start;*/
    /*margin-left: 35%;*/
  }
  .hidden--xs  {
    display: block;
  }

  .visible--xs {
    display: none;
  }
 
  .product__box {
    display: flex;
    max-width: 1000px;
  }

  .box--without-headline {
    display: flex;
  }

  .box--without-headline .back-product, .box--without-headline .back-description {
    width: 50%;
  }

  .box--with-headline .back-product, .box--with-headline .product__box__text-box {
    width: 50%;
  }
 
  .product {
    height: 290px;
    width: auto;
    margin-bottom: 50px;
  }

  section {
    margin: 0 30% 0 30%;
  }
}
